* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;


}

.gameover {
    visibility: hidden;
    position: absolute;
    top: 60px;
    font-size: 48px;
    color: #5600ff;
    left: 44vw;
    background: #fbfb8f;
    padding: 11px;
    border-radius: 12px;
    transition: all 1s ease-in-out;
}

.dino {
    background-image: url(../assets/dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50px;




}

.scoreCont {
    position: absolute;
    top: 60px;
    font-size: 48px;
    color: #5600ff;
    left: 64vw;
    background: #fbfb8f;
    padding: 11px;
    border-radius: 12px;
    transition: all 1s ease-in-out;
}

.obstacle {
    background-image: url(../assets/dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 70vw;
}

.animatedion {
    animation: dinoJump 0.6s ease-in-out;
    /* Slight easing for smooth jump */
}

@keyframes dinoJump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 450px;
        /* Peak of the jump */
    }

    100% {
        bottom: 0;
        /* Return to original position */
    }
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

@keyframes obstacleAni {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vh;
    }
}
@media(max-width:1180px) {
    .gameover {
        font-size: 30px;
        left: 31vw;
    }

    .scoreCont {
        left: 55vw;
        font-size: 30px;
    }
}

@media(max-width:767px) {
    .gameover {
        font-size: 29px;
        left: 6vw;
    }

    .scoreCont {
        left: 55vw;
        font-size: 29px;

    }

}
@media(max-width:575px){
    body{
        display: none;
    }
}
